    /*  font stack to use the system font*/
    
    @font-face {
        font-family: system;
        font-style: normal;
        font-weight: 300;
        src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
    }
    
    body {
        font-family: "system";
        overflow-wrap: break-word;
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 100%;
    }
    
    .icon {
        font-style: bold;
        font-size: 36px;
        color: rgb(225, 110, 55);
        margin-right: 10px;
    }
    
    #threebars {
        display: none;
    }
    
    .group-input {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 2px, solid, black;
        border-color: black;
        border-radius: 25px;
        background-color: rgb(239, 239, 239);
        flex: 1;
        margin-left: 5px;
        margin-right: 20px;
        height: 44px;
    }
    
    input {
        font-size: 18px;
        float: left;
        width: 100%;
        min-height: 35px;
        border: none;
        margin-left: 15px;
        background-color: transparent;
    }
    
    #search-button {
        float: left;
        width: auto;
        color: rgb(73, 72, 72);
        font-size: 24px;
        background-color: transparent;
        margin-right: 3px;
        border: none;
    }
    
    .signin {
        font-size: 14px;
        font-style: bold;
        border: none;
        margin-right: 20px;
    }
    
    .cart {
        border: none;
        background-color: transparent;
        font-size: 24px;
    }
    
    .group-input:hover {
        border: 1px solid black;
    }
    
    .search-bar button:hover {
        border-radius: 25px;
        color: white;
        background: solid, rgb(48, 47, 47);
    }
    
    @media only screen and (max-width: 600px) {
        header {
            flex-wrap: wrap;
            flex: space-evenly;
        }
        .icon {
            order: 0 !important;
            width: 70%;
        }
        .signin {
            align-self: right;
            order: 0 !important;
            width: auto;
            margin: none;
        }
        .cart {
            align-self: right;
            order: 0 !important;
            width: auto;
            margin-right: 20px;
            border: none;
        }
        #threebars {
            order: 4 !important;
            display: block;
            width: 10%;
            align-self: left;
        }
        .group-input {
            order: 5 !important;
            float: left;
        }
    }
    
    nav {
        width: auto;
        border-bottom: 2px solid rgb(165, 164, 164);
    }
    
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin-bottom: none;
        border-bottom: none;
        margin-left: none;
        margin-right: none;
    }
    
    nav ul:first-child {
        align-self: left;
    }
    
    nav ul:last-child {
        align-self: right;
    }
    
    .dropdown {
        display: none;
    }
    
    li {
        list-style: none;
        font-size: 13px;
    }
    
    a {
        text-decoration: none !important;
        color: rgb(109, 107, 107);
    }
    
    .dropdown:hover {
        display: block;
    }
    
    @media only screen and (max-width: 600px) {
        .menu-box {
            display: none;
        }
        nav {
            margin-top: 10px;
        }
    }
    
    .slogan {
        margin-top: 16px;
        margin-bottom: 12px;
        font-size: 32px;
        text-align: center;
        color: rgb(87, 86, 86);
    }
    
    .showbox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
    
    .rightbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
    }
    
    .leftbox {
        flex-basis: 20%;
        max-height: auto;
        align-items: baseline;
        align-content: center;
        text-align: center;
        background-color: rgb(250, 231, 227);
        border: none;
        font-size: 20px;
        font-style: bold;
        align-self: stretch;
    }
    
    div p {
        font-size: 14px;
        font-style: bold;
    }
    
    .middlebox {
        flex-basis: 50%;
        height: auto;
        align-self: stretch;
        margin-right: 7px;
    }
    
    .rightbox {
        flex-basis: 30%;
        margin-left: 7px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    
    .uppart {
        height: 70%;
        margin-bottom: 5px;
    }
    
    .pic2 {
        max-height: auto;
        max-width: auto;
        object-fit: cover;
    }
    
    img {
        max-width: 100%;
        max-height: auto;
    }
    
    .des {
        flex-basis: 30%;
        margin-top: 5px;
        text-align: center;
        background-color: rgb(250, 231, 227);
        position: relative;
    }
    
    .leftbox {
        position: relative;
        text-align: center;
        border: none;
        margin: none;
        padding: none;
    }
    
    .oh {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .wow {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    
    @media only screen and (max-width: 600px) {
        .showbox {
            display: flex;
            flex-direction: column;
            max-width: 100%;
            align-items: start;
        }
        .middlebox {
            flex-basis: 15%;
            order: -1;
            margin-bottom: none;
        }
        .leftbox {
            order: 1;
            margin-bottom: 10px;
            flex-basis: 30%;
        }
        .rightbox {
            order: 2;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
        }
        .uppart {
            order: 1;
            flex-basis: 50%;
            object-fit: fit;
        }
        .des {
            order: 1;
            flex-basis: 50%;
            object-fit: fit;
        }
        .leftbox {
            position: relative;
            text-align: center;
        }
        .oh {
            position: relative;
            top: 70%;
            transform: translateY(10%);
        }
        .wow {
            position: relative;
            top: 50%;
            transform: translateY(0%);
        }
    }
    
    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        height: auto;
        width: 100%;
    }
    
    .card1,
    .card2,
    .card3 {
        flex-basis: 34%;
        position: relative;
        text-align: center;
    }
    
    .sec1,
    .sec2,
    .sec3 {
        position: relative;
        top: 50%;
        transform: translateY(30%);
    }
    
    #done1,
    #done2,
    #done3 {
        color: rgb(224, 75, 25)
    }
    
    @media only screen and (max-width: 600px) {
        .cards {
            display: block;
        }
        .card1,
        .card2 {
            display: none;
        }
        .card3 {
            display: block;
            margin-bottom: 10 px;
        }
    }